.foot-2.mobile{
    display: none;
}
.social ul li {
    cursor: pointer;
}

footer.footer {
    /* background-image: url(../../Assets/img/footerbackgrouond.png); */
    background: #282828;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-links ul.footer-nav li a {
    color: #ffff;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 3em;
}
.footer-links h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    font-family: 'Poppins';
    padding-bottom: 15px;
}
footer.foot-2 .row .col-6:last-child {
    text-align: right;
}

footer.foot-2.desktop .row .col-lg-6 p {
    margin: 0;
    padding: 20px 0px;
    font-family: 'Poppins';
    color: #000;
    font-size: 16px;
    font-weight: 400;
}
.footer .social ul {
    display: flex;
    gap: 20px;
    margin: 0;
}

.social ul li a i {
    color: #fff;
}

.footer-sm-log {
    padding-bottom: 50px;
}
.cocoon {
    appearance: none;
    width: 20px;
    height: 20px !important;
    border: 1px solid #FF7D00;
}




input.inp11 {
    appearance: none;
    width: 17px;
    height: 15px !important;
    border: 1px solid #FF7D00;
    position: relative;
    border-radius: 0;
}
input.inp11::before{
    content: '\f00c';
    font-family: 'FontAwesome';
    font-weight: 900;
    display: none;
    top: -2px;
    font-size: 12px;
    left: 2px;
    position: absolute;
}
input.inp11:checked::before{
    display: block;
    color: #fff;
}
input.inp11:checked {
    background: #ff7d00;
}
.social ul li {
    background: transparent;
    border-radius: 30px;
    border: 2px solid #ffff;
    width: 50px;
    height: 50px;
    transition: all ease 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
}

.social ul li:hover {
    background: #FF7D00;
    border: 2px solid #FF7D00;
}

.footer-links ul.footer-nav li a:hover {
    color: #FF7D00;
    text-decoration: none;
}

.footer-links ul.footer-nav li a {
    transition: all ease 0.5s;
}
.form-divmain .checkbox-texts {
    align-items: center;
}
header ul.main-menu li a:hover {
    text-decoration: none;
}

.modal-dialog.edit-mode {
    max-width: 80%;
    margin: 1.75rem auto;
}
.modal-slider img {
    height: 700px;
}
.row.first-row.sec-row {
    width: 95%;
    margin: 0 auto;
}
.row.first-row.sec-row .col.lg-6.m-auto {
    padding-left: 60px;
}
.modal-dialog.edit-mode .modal-header {
    border: none;
    padding: 0 16px;
    position: absolute;
    right: 0;
    z-index: 9999;
}

.modal-dialog.edit-mode .modal-header button span {
    font-size: 40px;
    padding: 0 0;
    font-family: font-Awesome;
    color: #000;
    text-shadow: none;
    font-weight: 800;
}
.modal-dialog button.close {
    opacity: 1;
    text-shadow: none;
}

.modal-dialog.edit-mode .modal-body {
    background: #F8F0E3;
    padding: 50px 0;
}

.row.first-row.sec-row {
    padding-bottom: 0;
}
.mobileFooter {
    display: none;
}

.footer .row {
    justify-content: space-evenly;
}

/* hamza css  */
footer.foot-2.desktop .social-icons {
    display: flex;
    justify-content: center;
    margin: 0;
}

footer.foot-2.desktop .social-icons li {
    all: unset;
    margin-right: 30px;
}

footer.foot-2.desktop .social-icons li:last-child {
    margin-right: 0;
}

footer.foot-2.desktop .social-icons li a i {
    color: #282828;
    transition: all .4s ease;
    font-size: 17px;
}

footer.foot-2.desktop .social-icons li a i:hover {
    color: #FF7D00;
}
footer.foot-2.desktop {
    padding: 15px 0;
}
/* hamza css  */